.navbar {
  display: flex;
  justify-content: flex-end;
}

.navbar__element {
  padding-left: 15px;
}

// Forms
form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
}

.form-submit-btn {
  max-width: 35%;
  margin: auto;
}

// Users
.container-each-user {
  display: flex;
  flex-direction: column;
}

// Home container
.new-post-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
}

// Posts
.post {
  padding-bottom: 10px;
}